:root {
  --bg: #ffffff;
  --text: #000000;
  --nav-bg: #f5f5f5;
  --btn-bg: #e0e0e0;
  --input-bg: #ffffff;
  --placeholder-color: #666;
  --card-bg: #f2f2f2;
  --accent: red;
  --border-color: #ccc;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #ffffff;
  --nav-bg: #1e1e1e;
  --btn-bg: #2a2a2a;
    --input-bg: #1e1e1e;
  --placeholder-color: #aaa;
  --card-bg: #1a1a1a;
  --border-color: #444;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}
