.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: var(--text);
  background-color: var(--nav-bg);
}

/* LOGO */
.logo {
  font-size: 30px;
  font-weight: bold;
  color: var(--logo-color);
}

/* RIGHT SIDE */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

/* ICON BUTTONS */
.icon-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  background: transparent;
  color: var(--text);
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.icon-btn:hover {
  background: var(--hover-bg);
}

/* LOGOUT BUTTON */
.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: var(--text);
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background: var(--hover-bg);
}
